.navbar{
    padding: 0.8%;
    margin:0.5%;
    border-radius: 0.5%;
}
.navbar-brand, .nav-link, .fas{
    color: white;
}

.navbar-brand, .nav-link:hover{
    font-family: cursive;
    font-size: 20px;
}

.fas{
    text-decoration: none;
}