<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="!isLoggedIn()">
            <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn()">
            <a class="nav-link" [routerLink]="['/register']" routerLinkActive="router-link-active" >Register</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="categories" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="categories">
                <li><a class="dropdown-item" [routerLink]="['/products/womens']" routerLinkActive="router-link-active" >Women's Clothing</a></li>
                <li><a class="dropdown-item" [routerLink]="['/products/mens']" routerLinkActive="router-link-active" >Men's Clothing</a></li>
                <li><a class="dropdown-item" [routerLink]="['/products/jewelery']" routerLinkActive="router-link-active" >Jewelery</a></li>
                <li><a class="dropdown-item" [routerLink]="['/products/electronics']" routerLinkActive="router-link-active" >Electronics</a></li>
            </ul>
          </li>

          <!-- two Links for admin -->

          <li class="nav-item adminLinks">
              <a class="nav-link" [routerLink]="['/addItem']" routerLinkActive="router-link-active" >Add Item</a>
            </li>
            <li class="nav-item adminLinks">
                <a class="nav-link" [routerLink]="['/stock']" routerLinkActive="router-link-active" >View Stock</a>
            </li>


            <!-- two links for customer user -->
            <li class="nav-item customerLinks">
                <a class="nav-link" [routerLink]="['/buy']" routerLinkActive="router-link-active" >Buy Product</a>
              </li>
              <li class="nav-item customerLinks">
                  <a class="nav-link" [routerLink]="['/order']" routerLinkActive="router-link-active" >View Order</a>
              </li>
        </ul>
        <div class="nav-item" *ngIf="isLoggedIn()">
          <a class="fas fa-bars" id="userOptions" role="button" data-bs-toggle="dropdown" aria-expanded="true">
            {{username}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="userOptions">
              <li><a class="dropdown-item" [routerLink]="['/cart']" routerLinkActive="router-link-active" >My Cart</a></li>
              <li><a class="dropdown-item" (click)="logout()">Log Out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>