<div class="card mt-50 mb-50">
    <div class="card-title mx-auto"> Settings </div>
    <div class="nav">
        <ul class="mx-auto">
            <li><a href="#">Account</a></li>
            <li class="active"><a href="#">Payment</a></li>
        </ul>
    </div>

    <div class="mb-3 text-center">
        Total Amount to Pay: <strong>${{amountToPay | number:'.2-2'}}</strong>
    </div>

    <form > <span id="card-header">Saved cards:</span>
        <div class="row row-1">
            <div class="col-2"><img class="img-fluid" src="https://img.icons8.com/color/48/000000/mastercard-logo.png" /></div>
            <div class="col-7"> <input type="text" value="**** **** **** 3193" disabled></div> 
            <div class="col-3 d-flex justify-content-center">
                <a class="text-success" (click)="pay()">Pay</a> &nbsp;&nbsp;&nbsp;
                <a class="text-danger" href="#">Remove card</a> 
            </div>
        </div>
        <div class="row row-1">
            <div class="col-2"><img class="img-fluid" src="https://img.icons8.com/color/48/000000/visa.png" /></div>
            <div class="col-7"> <input type="text" value="**** **** **** 4296" disabled></div>
            <div class="col-3 d-flex justify-content-center text-danger"> 
                <a class="text-success" (click)="pay()">Pay</a> &nbsp;&nbsp;&nbsp;
                <a class="text-danger" href="">Remove card</a> 
            </div>
        </div> 

    </form>
</div>